<HTML>

<HEAD>

<TITLE>Analizador lectura fácil</TITLE>

</HEAD>

<BODY>



<H1>Analizador lectura fácil  </H1>

<P>Este servicio proporciona la posibilidad de comprar si tu texto cumple con algunas reglas de la lectura f&aacute;cil: no pueden haber oraciones en forma pasiva y no pueden haber oraciones sin sujeto expl&iacute;cito.

<h3>&iquest;C&oacute;mo funciona el servicio?</h3>
<p>El servicio proporciona las siguientes funcionalidades:</p>
<ul>
<li>Ver las reglas implementadas: /analyzer/rules. En el caso de querer comprobar una regla determinada, tenemos que a&ntilde;adir /id_regla, con los n&uacute;meros 1 o 2 seg&uacute;n queramos ver la regla de la forma pasiva o de las frases sin sujeto expl&iacute;cito. Puedes probarlo <a href="https://analizadorlecturafacil.herokuapp.com/analyzer/rules">aqu&iacute;</a>.</li>
<li>Comprobar que el texto introducido cumple las reglas implementadas: /analyzer/checkRules?texto=texto a analizar. Si queremos comprobar solo una regla en concreto debemos usar lo siguiente: /checkRules/id_regla?texto=texto a analizar. Puedes probarlo <a href="https://analizadorlecturafacil.herokuapp.com/analyzer/checkRules?texto=texto%20a%20analizar.">aqu&iacute;</a>.</li>
</ul>

</BODY>

</HTML>